* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(206, 230, 158);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  background: #000000;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
}

.in{
    margin-bottom: 20px;
    padding-left: 5px;
}
.in p{
    width: 100%;
    font-size: 3.5rem;
    text-align: end;
    background: transparent;
    color: #fff;
    border: none;
    word-wrap: break-word;
    word-break: break-all;
}

button{
    background: #333333;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    height: 65px;
    width: 65px;
    border-radius: 70%;
    border: none;
}

button:active,
button:focus {
  filter: brightness(120%);
}

.opdiv{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.zero{
    grid-column: span 2;
    width: 100%;
    border-radius: 30px;
}

.op{
  background-color:  #ff9501;
}

.op2{
    background-color:  #a6a6a6;
    color: #000000;
}
